Open this notebook with:

python manage.py shell_plus --notebook

In [1]:
from django.conf import settings
from configparser import ConfigParser
from os import path
from os import listdir
from dwca.read import DwCAReader
from dwca.darwincore.utils import qualname as qn
import pandas as pd

In [2]:
def get_connection_string():
    cnf_file_name = settings.DATABASES['default']['OPTIONS']['read_default_file']
    cnf_file_name = my_dir = path.expanduser(cnf_file_name)
    parser = ConfigParser()
    parser.read(cnf_file_name)
    host = parser.get('client', 'host')
    database = parser.get('client', 'database')
    user = parser.get('client', 'user')
    password = parser.get('client', 'password')

    connection_string = 'mysql://{}:{}@{}/{}'.format(user, password, host, database)
    return(connection_string)

get_connection_string()

'mysql://guambioadmin:hafa_adai@mysql.guaminsects.net/guambio'

In [3]:
from sqlalchemy import create_engine
engine = create_engine(get_connection_string())

In [9]:
# For now, we will only deal with one Darwin Core Archive.
# If we delete all records from DwcaTaxon, all associated records in the other 3 DwCA 
# tables should disappear because the "on_delete=models.CASCADE" is set.

from taxonomy.models import DwcaTaxon
DwcaTaxon.objects.all().delete()

(0, {})

In [5]:
# dwca = DwCAReader(dwca_filename) unzips the archive into a tempoary directory
# named "t/dwca/"
# dwca.close() removes the temporary directory

dwca_files = listdir('dwca')
if len(dwca_files) == 1:    
    dwca_filename = 'dwca/{}'.format(dwca_files[0])
    dwca = DwCAReader(dwca_filename)
    
    df_taxon = pd.read_csv('t/dwca/dwcaTaxon.csv')
    # Add the "bibliographicCitation" constant field to each record
    df_taxon['bibliographicCitation'] = dwca.rows[0].data['http://purl.org/dc/terms/bibliographicCitation'] 
    df_taxon.to_sql('taxonomy_dwcataxon', con=engine, index=False, if_exists='append')
    
    df_distribution = pd.read_csv('t/dwca/dwcaDistribution.csv')
    df_vernacular = pd.read_csv('t/dwca/dwcaVernacular.csv')
    df_associates = pd.read_csv('t/dwca/dwcaResourceRelationship.csv')
    
    # dwca_files.close()    
else:
    print('ERROR Number of files in the dwca directory is not equal to one.')

In [6]:
pd.read_sql_table('locations_location', engine)

,id,name,lft,rght,tree_id,level,parent_id,created_by,timestamp
0,1,Micronesia,1,22,1,0,NaN,2016-11-28 04:51:56.894727+00:00,NaT
1,2,Mariana Islands,2,21,1,1,1.0,2016-11-28 04:51:56.894727+00:00,NaT
2,3,Guam,19,20,1,2,2.0,Aubrey Moore,NaT
3,4,Commonwealth of the Northern Mariana Islands,3,18,1,2,2.0,2016-11-28 04:51:56.894727+00:00,NaT
4,5,Saipan,14,15,1,3,4.0,2016-11-28 04:51:56.894727+00:00,NaT
5,6,Tinian,16,17,1,3,4.0,2016-11-28 04:51:56.894727+00:00,NaT
6,7,Rota,12,13,1,3,4.0,2016-11-28 04:51:56.894727+00:00,NaT
7,8,Anatahan,8,9,1,3,4.0,2016-11-28 04:51:56.894727+00:00,NaT
8,9,Aguiguan,6,7,1,3,4.0,Aubrey Moore,NaT
9,10,Pagan,10,11,1,3,4.0,Aubrey Moore,NaT
10,11,Agrihan,4,5,1,3,4.0,Aubrey Moore,NaT